extends layout

block content
  div(class="container")
    h1 Page Admin
    p Configure active sections, section order, and section navigation - if any.
  //- form(method="POST", action="/api/config", enctype="application/x-www-form-urlencoded")
  //-   fieldset(class="card mb-3")
  //-     a(class="card-header h4", href="#basicInformation", data-toggle="collapse", aria-expanded="false" aria-controls="basicInformation") Basic Information
  //-     div(id="basicInformation", class="collapse")
  //-       div(class="card-body")
  //-         div(class="form-group")
  //-           label(for="meta_title") Website Title
  //-           input(id="meta_title", name="meta.title", type="text", value= meta.title, placeholder="Enter a title for the website", class="form-control", required)
  //-         div(class="form-group")
  //-           label(for="meta_description") Website Description
  //-           textarea(id="meta_description", name="meta.description", placeholder="Enter short description for your company", class="form-control", required)= meta.description
  //-         div(class="form-group")
  //-           label(for="meta_company") Company Name
  //-           input(id="meta_company", name="meta.company", type="text", value= meta.company, placeholder="Enter a name for your company", class="form-control", required)
  //-         div(class="form-group")
  //-           label(for="meta_established") Established Year
  //-           input(id="meta_established", name="meta.established", type="number" value= meta.established, placeholder="Founding year", class="form-control", required)
  //-   fieldset(class="card mb-3")
  //-     div(class="card-header")
  //-       a(class="h4", href="#header", data-toggle="collapse", aria-expanded="false" aria-controls="header") Header
  //-     div(id="header", class="collapse")
  //-       ul(class="nav nav-tabs px-3 pt-3 bg-light",  role="tablist")
  //-         li(class="nav-item")
  //-           a(class="nav-link active", id="header_data_tab", data-toggle="tab", href="#header_data", role="tab", aria-controls="header_data", aria-selected="true") Data
  //-         li(class="nav-item")
  //-           a(class="nav-link", id="header_styles_tab" data-toggle="tab" href="#header_styles" role="tab" aria-controls="header_styles", aria-selected="false") Styles
  //-       div(class="card-body tab-content")
  //-         div(class="tab-pane fade" id="header_styles" role="tabpanel" aria-labelledby="header_styles_tab")
  //-           div(class="form-group")
  //-             label(for="header_style_color") Text Color
  //-             input(id="header_style_color", name="header.style.color", type="color", value= header.style.color, placeholder="Text color", class="form-control")
  //-           div(class="form-group")
  //-             label(for="header_style_background_color") Background Color
  //-             input(id="header_style_background_color", name="header.style.background.color", type="color", value= header.style.background.color, placeholder="Background color", class="form-control")
  //-           div(class="form-group")
  //-             label(for="header_style_background_image") Background Image
  //-             div(class="input-group")
  //-               div(class="input-group-prepend")
  //-                 i(class="input-group-text fas fa-link")
  //-               input(id="header_style_background_image", name="header.style.background.image", type="url", value= header.style.background.image, class="form-control")
  //-         div(class="tab-pane fade show active" id="header_data" role="tabpanel" aria-labelledby="header_data_tab")
  //-           div(class="form-group")
  //-             label(for="header_brand") Brand
  //-             input(id="header_brand", name="header.brand", type="text", value= header.brand, placeholder="Enter the brand name to be displayed in the top navigation", class="form-control", required)
  //-           div(class="form-group")
  //-             label(for="header_title") Header Title
  //-             input(id="header_title", name="header.title", type="text" value= header.title, placeholder="Enter the display title for the main jumbotron", class="form-control", required)
  //-           div(class="form-group")
  //-             label(for="header_text") Header Subtext
  //-             textarea(id="header_text", name="header.text", placeholder="Enter the subtext for the main jumbotron", class="form-control", required)= header.text

  //-   //- include ./includes/admin-product.jade
  //-   //- each s in sections
  //-   //-   if s.type === 'product'
        
  //-   //-   if s.type === 'pricing'
  //-   //-     include ./includes/admin-pricing.jade           

  //-   //-   if s.type === 'reviews'
  //-   //-     include ./includes/admin-reviews.jade

  //-   //-   if s.type === 'contact'
  //-   //-     include ./includes/admin-contact.jade
  //-   button(type="submit", class="btn btn-primary") Save Changes