extends layout

block content
  div(class="container py-4")
    div(class="d-flex justify-content-between align-items-end")
      h1(class="h4 mb-0") Product Manager
      div
        a(href="/admin/products/create", class="btn btn-success") 
          i(class="fa fa-plus")
          span  Add Product
    hr
    div(class="row")
      each p, id in products
        div(class="col-6 col-sm-4 col-md-3")
          div(class="card h-100")
            div(class="card-actions")
              a(href="/admin/products/edit/#{id}", class="card-action" title="Edit Product")
                i(class="fa fa-edit")
            img(class="card-img-top", style="max-height:200px; width:auto; max-width:100%; margin:0 auto;", src= p.image, alt= p.title)
            div(class="card-body text-center")
              h5(class="card-title")= p.title
              p(class="card-text")= p.currency + p.price
        