if s.title
  h4(class="mb-4")= s.title
    if s.text
      br
      small(class="text-muted")= s.text
if s.items.length
  ul(class="list-group mb-5")
    each r in s.items
      li(class="list-group-item")
        blockquote(class="blockquote mb-0")
          p(class="mb-0 small")= r.text
          footer(class="blockquote-footer") 
            cite(title= r.source)= r.source