extends layout

block content
  section(class="my-5 container")
    a(class="anchor", name="product")
    include ./includes/product.jade
  hr
  each s, i in sections
    section(class="my-5 container")
      a(class="anchor", name= s.id)
        
      if s.type === 'pricing'
        include ./includes/pricing.jade           

      if s.type === 'reviews'
        include ./includes/reviews.jade

      if s.type === 'contact'
        include ./includes/contact.jade

    if i < sections.length - 1
      hr

      