.form-row
  .col-md-6
    .form-group
      label(for="address_first") First Name
      input(id="address_first", name="address.first", type="text", class="form-control", required)
  .col-md-6
    .form-group
      label(for="address_last") Last Name
      input(id="address_last", name="address.last", type="text", class="form-control" required)
.form-group
  label(for="address_street1") Street Address
  input(id="address_street1", name="address.street1", type="text", class="form-control", required)
.form-group
  label(for="address_street2") Apt, Suite, or Floor #
  input(id="address_street2", name="address.street2", type="text", placeholder="(optional)", class="form-control")
.form-row
  .col-sm-8.col-md-7
    .form-group
      label(for="address_city") City
      input(id="address_city", name="address.city", type="text", class="form-control", required)
  .col-sm-4.col-md-5
    .form-group
      label(for="address_state") State
      input(id="address_state", name="address.state", type="text", minlength="2", maxlength="2", class="form-control", required)
.form-group
  label(for="address_zip") Zip
  input(id="address_zip", name="address.zip", type="text", minlength="5", maxlength="5", class="form-control", required)
.text-right
  button.btn.btn-outline-secondary(type="button") Next 
    i.fa.fa-arrow-right