section(class="diet-jumbotron")
  .layer-0
  .layer-1
    .container-fluid.text-center
      .row.flex-column.flex-sm-row
        .col-xl-3
        .col-sm-6.col-lg-7.col-xl-5
          h1
            .pre-header
              span 30 day ketosis
              span the easiest way
            .connector
              span to
            .main-header 
              span burn
              span fat
          p.lead Natural, Safe & Effective
        .col-sm-6.col-lg-5.col-xl-4

          img.mw-100.mb-2(src="/images/seals-top.png")
          #step1.card.border-primary
            .card-header.bg-primary.text-light
              .h3 Where do we
                br
                span send your bottle?
              img.card-header-graphic(src="/images/form-arrow.png")
              
            .card-body
              form
                .form-group
                  label(for="firstName" class="sr-only") First Name
                  input.form-control(type="text" id="firstName" placeholder="First Name*" required)
                .form-group
                  label(for="lastName" class="sr-only") Last Name
                  input.form-control(type="text" id="lastName" placeholder="Last Name*" required)
                .form-group
                  label(for="address" class="sr-only") Address
                  input.form-control(type="text" id="address" placeholder="Address*" required)
                .form-group
                  label(for="zipCode" class="sr-only") Zip Code
                  input.form-control(type="text" id="zipCode" placeholder="Zip Code*" required)
                .form-group
                  label(for="city" class="sr-only") City
                  input.form-control(type="text" id="city" placeholder="City*" required)
                .form-group
                  label(for="state" class="sr-only") State
                  input.form-control(type="text" id="state" placeholder="State*" required)
                .form-group
                  label(for="email" class="sr-only") Email Address
                  input.form-control(type="email" id="email" placeholder="Email Address*" required)
                .form-group
                  label(for="phone" class="sr-only") Phone Number
                  input.form-control(type="text" id="phone" placeholder="Phone Number*" required)
                button.btn.btn-danger.btn-lg.btn-block.font-weight-bold(type="button") RUSH MY TRIAL
