@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    main {
        margin-top: 3.5em;

        section {
            position: relative;
        }
    }
}


#HEADER {
    position: relative;
    background-color: transparent;

    >.background {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(60%);
    }
}

a.anchor {
    position: absolute;
    top: -5em;
}

.card-actions {
    position: absolute;
    top: $grid-gutter-width/2;
    right: $grid-gutter-width/2;
}

.section-snapshot-container {
    padding: $grid-gutter-width/4;
    position: absolute;
    right: $grid-gutter-width/4;
    top: $grid-gutter-width/4;
    bottom: $grid-gutter-width/4;
    left: $grid-gutter-width/4;
    overflow: hidden;
}

.section-snapshot {
    border: 2px solid #ddd;
    border-radius: 8px;
    pointer-events: none;
    transform-origin: 100% 0;
    transform: scale(0.5);
}