@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    margin-top: 3.5em;

    main section {
        position: relative;
    }
}

a.anchor {
    position: absolute;
    top: -5em;
}