@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
    max-width: 100vw;
}

body {
    overflow-x: hidden;

    main {
        margin-top: 3.5em;

        section {
            position: relative;
        }

        @include media-breakpoint-down(xs) {
            font-size: 14px;

            h6,
            .h6 {
                font-size: 14px;
            }

            h5,
            .h5 {
                font-size: 16px;
            }

            h4,
            .h4 {
                font-size: 18px;
            }

            h3,
            .h3 {
                font-size: 20px;
            }

            h2,
            .h2 {
                font-size: 24px;
            }

            h1,
            .h1 {
                font-size: 28px;
            }
        }
    }
}


#HEADER {
    position: relative;
    background-color: transparent;

    >.background {
        z-index: -1;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: brightness(60%);
    }
}

a.anchor {
    position: absolute;
    top: -5em;
}

.card-actions {
    position: absolute;
    top: $grid-gutter-width/2;
    right: $grid-gutter-width/2;
}

.sortable-list-item {
    overflow: hidden;

    .sortable-list-item-handle {
        cursor: move;
        /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    &.dragging {
        // opacity: 1;
    }

    &.dropping {
        opacity: 0.6;
        position: relative;
        border: 2px dashed $secondary;
    }
}

.section-snapshot-container {
    min-height: 75px;
    max-height: 150px;
    overflow: hidden;
    position: relative;
    transform-origin: 0 0;
    transform: scale(2, 1);

    .badge {
        position: absolute;
        left: 0;
        top: 0;
        transform: scaleX(0.5);
        transform-origin: 0 0;
        z-index: 3;
        border-radius: 0 0 4px 0;
    }

    &:after {
        content: '';
        border-style: solid;
        border-color: #ddd;
        border-width: 1.5px 1px 1.5px 1px;
        z-index: 3;
        background: transparent;
        position: absolute;
        left: 0;
        right: 50%;
        top: 0;
        bottom: 0;
    }

}

.section-snapshot {
    max-height: 300px;
    width: 200%;
    border-radius: 16px;
    pointer-events: none;
    transform-origin: 0 0;
    transform: scale(0.25, 0.5);

    .jumbotron {
        margin-bottom: 0;
    }
}

#sectionSelector {
    .modal-body {
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .section-option {
        cursor: pointer;

        h5 {
            margin-top: 0;
            font-size: 1.4em;
        }

        &:after {
            border-radius: 4px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            content: ' ';
            border: 2px solid $primary;
            opacity: 0;
            transition: opacity 200ms ease-in-out;
        }

        &.selected {
            &:after {
                opacity: 1;
            }
        }
    }
}

.selectize-input {

    &,
    &.focus {
        box-shadow: none;

    }
}

.selectize-dropdown {
    top: $input-height !important;
}

.selectize-control.single .selectize-input.input-active {
    display: block !important;
}

.selectize-product-image {
    width: 100px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

@include media-breakpoint-down(xs) {
    .responsive-buttons {
        background: $body-bg;
        z-index: 3;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: stretch;
        padding: $grid-gutter-width/2;
        border-top: 1px solid #ddd;

        &>.dropdown,
        &>.btn {
            flex: 1;
        }
    }
}