extends ./../layout

block content
  .container.py-4
    .d-flex.justify-content-between.align-items-end
      h1(class="h4 mb-0") Page Manager
      a(href="/admin/pages/create", class="btn btn-success") 
          i(class="fa fa-plus")
          span  Add Page
    hr
    .row
      .col-md-8
        .list-group
          each page, id in pages
            .list-group-item
              .row.align-items-center
                .col
                  h5(class="mb-0")= page.name
                  a(href="#")
                    code= url + page.path
                .col-auto.text-right
                  a(class="ml-2", href="/admin/pages/edit/" + id)
                    i(class="fa fa-edit")
                  br
                  small(class="text-muted") #{page.sections.length} section(s)