div(class="row")
  div(class="col-md-8")
    .form-group
      label(for="name") Page Name
      input(id="name", name="name", type="text", value= page.name, placeholder="Enter a display name for your page", class="form-control", required)
    .form-group
      label(for="path") Page URL
      .input-group
        .input-group-prepend
          span(class="input-group-text")= url
        input(id="path", name="path", type="text", value= page.path, placeholder="Choose a path for your page starting with /", class="form-control", required)

    .form-group
      label(for="sections") Sections
      ul(id="sections", class="list-group")
        each s, index in page.sections
          li(class="list-group-item position-relative")
            h5= s.name
            //- .float-right
            //-   if index > 0
            //-     button(class="d-block btn btn-sm btn-link")
            //-       i(class="fa fa-angle-up")
            //-   if index < (page.sections.length - 1)
            //-     button(class="d-block btn btn-sm btn-link")
            //-       i(class="fa fa-angle-down")
            .section-snapshot-container
              .section-snapshot
                case s.type
                  when "cart"
                    include ./../../public/includes/cart
                  when "checkout"
                    include ./../../public/includes/checkout
                  when "jumbotron"
                    include ./../../public/includes/jumbotron
                  when "product"
                    include ./../../public/includes/product

script
  include page.js