div(class="row")
  div(class="col-md-8")
    .form-group
      label(for="name") Page Name
      input(id="name", name="name", type="text", value= page.name, placeholder="Enter a display name for your page", class="form-control", required)
    .form-group
      label(for="path") Page URL
      .input-group
        .input-group-prepend
          span(class="input-group-text")= url
        input(id="path", name="path", type="text", value= page.path, placeholder="Choose a path for your page starting with /", class="form-control", required)