.row
  .col-md-8
    .form-group
      label(for="name") Page Name
      input(id="name", name="name", type="text", value= page.name, placeholder="Enter a display name for your page", class="form-control", required)
    .form-group
      label(for="path") Page URL
      .input-group
        .input-group-prepend
          span(class="input-group-text")= url
        input(id="path", name="path", type="text", value= page.path, placeholder="Choose a path for your page starting with /", class="form-control", required)
    label(for="navigation") Navigation Display
    #navigation.form-group
      - var isNone = page.nav === 'none' || !page.nav;
      - var isLeft = page.nav === 'left';
      - var isRight = page.nav === 'right';
      .custom-control.custom-radio.custom-control-inline
        input(type="radio", id="nav_off", name="nav", class="custom-control-input" value="none", checked= isNone)
        label(class="custom-control-label", for="nav_off") None
      .custom-control.custom-radio.custom-control-inline
        input(type="radio", id="nav_left", name="nav", class="custom-control-input" value="left", checked= isLeft)
        label(class="custom-control-label", for="nav_left") Left
      .custom-control.custom-radio.custom-control-inline
        input(type="radio", id="nav_right", name="nav", class="custom-control-input" value="right", checked= isRight)
        label(class="custom-control-label", for="nav_right") Right
    .form-group
      hr
      div(class="d-flex justify-content-between align-items-center")
        .mb-3
          label(class="h5 mb-0", for="sections") Sections
          p.small.mb-0 Drag and drop to reorder the page.
        button(type="button", class="btn btn-sm btn-primary ml-2" data-toggle="modal" data-target="#sectionSelector")
          i.fa.fa-plus
          span  Add Sections
      input(type="hidden", id="sections", name="sections", value= page.sections.join(','))
      #sortableSections
        if page.sections.length
          include sortable-sections


include section-selector
