extends layout

block content
  each s in sections
    a(name= s.id)
    case s.type
      when "cart"
        #cart
          include ./includes/cart
      when "checkout"
        #checkout
          include ./includes/checkout
      when "jumbotron"
        include ./includes/jumbotron
      when "showcase"
        include ./includes/showcase
      when "shop"
        #shop
          include ./includes/shop
      when "product"
        #product
          include ./includes/product