extends ./../document

block layout
  body(class="d-flex h-100 flex-column flex-nowrap")

    nav(class="navbar navbar-expand-md navbar-dark bg-dark fixed-top")
      div(class="container")
        a(class="navbar-brand", href="/")= company.brand
        button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation")
          i(class="fa fa-bars")

        div(class="collapse navbar-collapse", id="navbarCollapse")
          ul(class="navbar-nav mr-auto")
            li(class="nav-item")
              a(class="nav-link" href="/") Home
          div(class="form-inline")
            a(href="/admin", class="btn btn-sm btn-outline-light") Admin
          ul(class="navbar-nav ml-3")
            li(class="nav-item")
              a(class="nav-link" href="/cart") Cart

    main(class="flex-grow-1")
      block content

    footer(class="bg-secondary")
      div(class="py-3 container d-flex flex-column flex-md-row text-center justify-content-center")
        a(class="mx-2 text-light", href="/privacy") Privacy
        a(class="mx-2 text-light", href="/terms-and-conditions") Terms & Conditions
        a(class="mx-2 text-light", href="/general-data-protection-regulation") GDPR Compliance
        span(class="mx-2 text-light") ©#{company.established} #{company.name}