extends ./../layout

block content
  .container.py-4
    form(method="POST", action="/api/sections", enctype="application/x-www-form-urlencoded")
      .d-flex.justify-content-between.align-items-end

        h1(class="h4 mb-0")
          span(class="font-weight-light") Create: 
          span New #{section.type.replace(/^\w/, c => c.toUpperCase())}
        div.responsive-buttons
          a.btn.btn-outline-dark(href="/admin/sections") Cancel
          button(type="submit", class="btn btn-success ml-2") Finish
      hr
      include ./../includes/section-form