extends ./../layout

block content
  .container.py-4
    form(method="POST", action="/api/sections/" + section.id, enctype="application/x-www-form-urlencoded")
      .d-flex.justify-content-between.align-items-end

        h1(class="h4 mb-0")
          span(class="font-weight-light") Creating New:
          span  Section
        div
          button(type="reset", class="btn btn-outline-dark") Discard Changes
          button(type="submit", class="btn btn-success ml-2") Save Changes
      hr
      include ./../includes/section-form