extends ./../layout

block content
  .container-fluid.pt-3.pb-5
    .fixed-top
      .d-flex.justify-content-between.align-items-center
        h1(class="h4 mb-0") Section Manager
        .responsive-buttons
          .dropdown
            button.btn.btn-block.btn-success.dropdown-toggle(type="button", id="addSectionButton", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Add Section
            .dropdown-menu.dropdown-menu-right(aria-labelledby="addSectionButton")
              a.dropdown-item(href="/admin/sections/create/jumbotron") Jumbotron
              a.dropdown-item(href="/admin/sections/create/showcase") Showcase
    .row
      .col-md-8
        .list-group.pb-3
          each s in sections
            .list-group-item.position-relative.px-3.p-md-4.py-3
              a(class="float-right" title="Edit Section", href="/admin/sections/edit/" + s.id)
                i(class="fa fa-edit")
              h5= s.name
                span(class="d-block text-primary small") #{s.type.replace(/^\w/, c => c.toUpperCase())}
              .section-snapshot-container
                .section-snapshot
                  case s.type
                    when "cart"
                      include ./../../public/includes/cart
                    when "checkout"
                      include ./../../public/includes/checkout
                    when "jumbotron"
                      include ./../../public/includes/jumbotron
                    when "showcase"
                      include ./../../public/includes/showcase